<?xml version="1.0" encoding="ISO-8859-1"?>

<web-xapp>
    <display-name>HW15</display-name>
    <description>Project WAR file</description>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>ru.otus.sokolovsky.hw15.servlet.LoginServlet</servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>templates/login.ftl</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>usersViewServlet</servlet-name>
        <servlet-class>ru.otus.sokolovsky.hw15.servlet.DbUsersViewServlet</servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>templates/list_view.ftl</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>chatServlet</servlet-name>
        <servlet-class>ru.otus.sokolovsky.hw15.servlet.ChatInitServlet</servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>templates/chat.ftl</param-value>
        </init-param>
    </servlet>
    <filter>
        <filter-name>auth</filter-name>
        <filter-class>ru.otus.sokolovsky.hw15.filters.AuthFilter</filter-class>
    </filter>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chatServlet</servlet-name>
        <url-pattern>/chat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usersViewServlet</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>
    <filter-mapping>
        <filter-name>auth</filter-name>
        <servlet-name>usersViewServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>auth</filter-name>
        <servlet-name>chatServlet</servlet-name>
    </filter-mapping>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>ru.otus.sokolovsky.hw15.listener.CreateDbTables</listener-class>
    </listener>
    <listener>
        <listener-class>ru.otus.sokolovsky.hw15.listener.InitAccounts</listener-class>
    </listener>
    <listener>
        <listener-class>ru.otus.sokolovsky.hw15.listener.InitDbUsers</listener-class>
    </listener>
    <listener>
        <listener-class>ru.otus.sokolovsky.hw15.listener.InitWebSockets</listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/dependency-injection-config.xml
        </param-value>
    </context-param>
</web-xapp>